<h1>Doctors List</h1>

<dl class="dl-horizontal">
  <% @doctors.each() do |doctor| %>
    <dt><a href="/doctors/<%= doctor.id() %>"><%= doctor.name() %>:</a></dt>
    <dd><small><%= doctor.specialty() %></small></dd>

  <% end %>
</dl>

<form action="/doctors" method="post">
  <label for="name">Name Doctor</label>
  <input id="name" name="name" type="text">

  <label for="specialty">Add Specialty</label>
  <input id="specialty" name="specialty" type="text">

  <button type="submit">Add it!!</button>
</form>
